html,
body,
ol,
ul,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body,
a {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

ol,
ul {
  list-style: none;
}

p {
  word-break: keep-all;
}

html,
body {
  font-size: 62.5%;
  color: #2b2b2b;
  font-weight: 300;
}

body {
  font-size: 1.6rem;
}

a {
  display: inline-block;
  color: #2b2b2b;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
}

img {
  max-width: 100%;
}